.Login {
    max-width: 450px;
    margin: 0 auto;
    padding: 150px 15px 0 15px;
    &-Form {
        display: flex;
        flex-direction: column;
    }
    &-Label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-Input {
        margin: 15px 0 !important;
        flex-grow: 1;
        max-width: 350px;
    }
    &-Btn {
        margin: 30px auto 70px auto !important;
        max-width: 220px;
    }
    &-Footer {
        display: flex;
        justify-content: space-between;
    }
    &-Link {
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}