.ResetPassword {
    padding: 35px 15px 0 15px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    &-Title {
        margin-bottom: 10px;
    }
    &-Subtitle {
        margin-bottom: 50px;
        font-size: 18px;
    }
    &-Form {
        display: flex;
        flex-direction: column;
    }
    &-Input {
        margin: 0 auto !important;
        flex-grow: 1;
        width: 350px !important;
    }
    &-Btn {
        margin: 30px auto 0 auto !important;
    }
    &-Link {
        color: #ffffff;
        text-decoration: none;
    }
}

@media screen and (max-width: 767px) {
    .ResetPassword {
        &-Subtitle {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &-Input {
            width: 100% !important;
        }
        &-Btn {
            margin: 20px auto 0 auto !important;
        }
    }
}
