.ResetPasswordSuccess {
    padding: 30px 15px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    box-sizing: border-box;
    &-Title {
        text-align: center;
        margin-bottom: 20px;
    }
    &-Subtitle {
        margin-bottom: 35px;
        font-size: 18px;
        padding: 15px 0;
        text-align: center;
    }
    &-Form {
        display: flex;
        flex-direction: column;
    }
    &-Input {
        flex-grow: 1;
        width: 320px;
        margin: 0 auto 25px auto !important;
    }
    &-Btn {
        margin: 0 auto 0 auto !important;
    }
    &-Link {
        color: #ffffff;
        text-decoration: none;
    }
}

@media screen and (max-width: 767px) {
    .ResetPasswordSuccess {
        &-Subtitle {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &-Input {
            margin: 0 auto 0 auto;
            width: 100% !important;
        }
    }
}