.Footer {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: #3062A0;
    &-List {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 40px;
    }
    &-Item {
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-Link {
        font-size: 16px;
        color: #ffffff;
    }
}

@media screen and (max-width: 767px) {
    .Footer {
        &-List {
            padding: 15px 0px;
        }
        &-Item {
            margin-right: 10px;
        }
        &-Link {
            font-size: 12px;
        }
    }
}